<!DOCTYPE html>
<html>

	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		{% load static %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{% static 'scripts/index.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/index.css' %}">
		<title> Prueba Chipax </title>
	</head>

	<body>
		<br>
		<br>
		<div class="title">
			<h1>Solución usando la API de Rick and Morty para probar mis habilidades 👨‍💻 </h1>
			<h2>Se consultaron los <code>character</code>, <code>locations</code> y <code>episodes</code> de <a href="https://rickandmortyapi.com/">https://rickandmortyapi.com/</a> logrando obtener:</h2>
		</div>

		<br>
		<br>

		<div class="container">
			<div class="round_1">
				<button class="btn btn-primary" id="round_1" type="button">Round 1 (Char counter)</button>


				<table class="table table-hover table-bordered">
					<thead>
						<th class="t1_header">Preguntas</th><th class="t1_header">Respuestas</th>
					</thead>
					<tbody>
							<tr>
								<td class="col-md-8">¿Cuánto tardó el programa en total (todo el primer Round)? </td>
								<td class="col-md-4" id="time_1"></td>
							</tr>
							<tr>
								<td class="col-md-8">¿Cuántas veces aparece la letra <code>"l"</code> (case insensitive) en los nombres de todos los <code>locations</code>? </td>
								<td class="col-md-4" id="answer_1"></td>
							</tr>
							<tr>
								<td class="col-md-8">¿Cuántas veces aparece la letra <code>"e"</code> (case insensitive) en los nombres de todos los <code>episodes</code>? </td>
								<td class="col-md-4" id="answer_2"></td>
							</tr>
							<tr>
								<td class="col-md-8">¿Cuántas veces aparece la letra <code>"c"</code> (case insensitive) en los nombres de todos los <code>characters</code>? </td>
								<td class="col-md-4" id="answer_3"></td>
							</tr>
						</tbody>
				</table>
			</div>

			<br>
			<br>

			<div class="round_2">
				<button  class="btn btn-primary" id="round_2" type="button">Round 2 (Episode origins)</button>
				<table class="table table-hover ">
					<thead>
						<tr>
							<th colspan="2">Para cada <code>episode</code>, se indica la cantidad y un listado con los <code>origin</code> de todos los <code>character</code> que aparecieron en ese <code>episode</code> (sin repetir)</th>
						</tr>
						<tr>
							<th>¿Cuánto tardó el programa en total (el segundo round)?</th>
							<th id="time_2"></th>
						</tr>
					</thead>					
				</table>
				<br>
				<table class="table table-hover table-bordered" id="second_round_table">
					<thead>
						<tr>
							<th class="center_text col-md-2" >Episodio</th>
							<th class="center_text col-md-2"># Orígenes distintos</th>
							<th class="center_text col-md-8">Orígenes</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>